<div class="modal-header">
  <h4 class="modal-title text-capitalize" id="myModalLabel">Sign "Up to Twidder</h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <%= simple_form_for (:session), url: login_path, html: {class: 'login-form'} do |f| %>
  <%= f.input :username, placeholder: 'Your user name' %>
  <%= f.button :submit, 'Log in' %> 
  <!-- <%#= link_to "Sign up", signup_path %> -->
  <% end %>  
</div>
<div class="modal-footer">
  <h6>Twid ('tell what I'm doing!')</h6>
</div>
