<div class="modal-header">
  <h4 class="modal-title text-capitalize" id="myModalLabel">resond to twid by <%= @opinion.author.fullname %></h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <%= render partial: 'shared/comment_form', locals: { comment: @opinion.comments.new, opinion: @opinion } %>
</div>
<div class="modal-footer">
  <h6>Twid ('tell what I'm doing!')</h6>
</div>
