<footer class="footer">
  <div class="container-fluid">
    <div class="row text-muted">
      <div class="col-6 text-left">
        <p class="mb-0">
          <%= link_to root_path, class:'footer-logo' do %>
          <strong>&copy;Twidder <%= Time.now.year %></strong>
          <% end %>
        </p>
      </div>
      <div class="col-6 text-right">
        <ul class="list-inline footer-map">
          <li class="list-inline-item">
            <a class="" href="#">Support</a>
          </li>
          <li class="list-inline-item">
            <a class="" href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a class="" href="#">Terms</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>