* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main-nav {
	display: inline;
	overflow: hidden;
	position: fixed;
	background-image: linear-gradient(to top, #52a6e6, #49a7e6, #40a8e6, #34a8e6, #26a9e6, #26a9e7, #26aae7, #26aae8, #35aaea, #40abeb, #4babed, #54abee);
	width: 100%;
}
.main {
	display: block;
	background-color: #f5f6f8;
}
.navbar-align {
	margin-left: auto;
	margin-right: 22%;
	color: rgba(233, 236, 239, .5);
}
.sb-followinfo {
	border-top: 1px solid #122238;
	border-bottom: 1px solid #122238;
	h6 {
		color: #e9ecef;
	}
}
.following-sbdiv {
	border-right: 1px solid #122238;
}
.twidder-menu {
	border-bottom: 1px solid #dfdfdf;
	div {
		font-weight: 500;
	}
}
.tofollow-head {
	border-bottom: 1px solid #dfdfdf;
}
.trending-head {
	border-bottom: 1px solid #dfdfdf;
}
.menu-highlight {
	border-bottom: 4px solid #00aae5;
}
.opinion-section {
	min-width: 100%;
	background-color: #fff;
	padding: 2%;
	border-radius: 6px;
	// box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px 0px, rgb(0 0 0 / 4%) 0px 1px 2px 0px;
}
.newopinion-section {
	min-width: 100%;
	background-color: #fff;
	padding: 2%;
	border-radius: 6px;
	// box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px 0px, rgb(0 0 0 / 4%) 0px 1px 2px 0px;
}
.opinion-container {
	padding: 2.8%;
}
.opinions-container {
	padding: 0 2.8% 2.8%;
}
.createopinion-title {
	font-size: 15px;
	font-weight: 600;
	color: #777;
}
.opinion-form {
	min-width: 100%;
	border: 1px solid #efefef;
	border-radius: 3px;
	padding: 1.4%;
}
.right-aside {
	border: 1px solid #dfdfdf;
}
.tofollow-section {
	border-bottom: 1px solid #dfdfdf;
	padding: 0 6%;
}
.tofollow-img {
	width: 64px;
	height: 64px;
	background: #fff;
}
.newopinion-img {
	width: 64px;
	height: 64px;
	background: #909192;
}
.trending-section {
	padding: 0 6%;
}
.trending-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	flex-grow: 1;
	li {
		&:not(:last-child) {
			margin-bottom: 18px;
		}
	}
}
.trend-icon {
	display: block;
	font-size: 1.5rem;
	color: #6c757d;
	transition: background .1s ease-in-out, color .1s ease-in-out;
	line-height: 1.4;
}
.tofollow-title {
	border-bottom: 1px solid #dfdfdf;
	p {
		text-transform: capitalize;
	}
}
