body {
  margin: 0!important;
  padding: 0!important;
}
.main-nav {
  height: 64px;
  min-height: 64px;
  max-height: 64px;
  position:fixed;
  top: 0;
  background-image: linear-gradient(to top, #52a6e6, #49a7e6, #40a8e6, #34a8e6, #26a9e6, #26a9e7, #26aae7, #26aae8, #35aaea, #40abeb, #4babed, #54abee);
  width:100%
}

.main {
  display: block;
  background-color: #f5f6f8;
}

.navbar-align {
  margin-left: auto;
  margin-right: 22%;
  color: rgba(233, 236, 239, .5);
}

.sb-followinfo {
  border-top: 1px solid #0c1930;
  border-bottom: 1px solid #0c1930;
}

.following-sbdiv {
  border-right: 1px solid #0c1930;
}

.cover-img {
  height: 240px;
  background-color: #122238;
}

.twidder-menu,
.tofollow-head,
.followedby-head,
.trending-head,
.tofollow-section,
.followedby-section,
.profile-section,
.stats-section {
  border-bottom: 1px solid #dfdfdf;
} 

.twidder-menu div{
  font-weight: 500;
}

.menu-highlight {
  border-bottom: 4px solid #00aae5;
}

.opinion-section,
.newopinion-section {
  min-width: 100%;
  background-color: #fff;
  /* border: 2px solid #dfdfdf; */
  padding: 2%;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px 0px, rgba(0, 0, 0, 0.04) 0px 1px 2px 0px;
}

.opinion-container {
  padding: 2.8%;
}

.opinions-container {
  padding: 0 2.8% 2.8%;
}

.createopinion-title {
  color: #777;
}

.newopinion-title {
  color: #2eabf8;
}

.createopinion-title,
.newopinion-title {
  font-size: 15px;
  font-weight: 600;
}

.opinion-form {
  min-width: 100%;
  border: 1px solid #efefef;
  border-radius: 3px;
  padding: 1.4%;
}

.twid-msg {
  letter-spacing: 0.6px;
  color: #595959;
  // word-break: break-word;
  // display: inline-block;
  white-space: break-spaces;
  overflow-wrap: break-word;
  word-break: break-all;
}

.right-aside {
  border-left: 1px solid #dfdfdf;
}

.profile-section {
  // height: 160px;

}

.followed-by-img,
.tofollow-img,
.newopinion-img {
  width:64px;
  height:64px;
  border: 1px solid #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}

.followed-by-img,
.tofollow-img,
.profile-img,
.followed-by-img img,
.tofollow-img img,
.profile-img img,
.commentor-img img {
  border-radius: 50%;
}

.profile-img {
  width:96px;
  height:96px;
}

.tofollow-img,
.profile-img {
   background:#fff;
}
.newopinion-time,
.newopinion-author {
  letter-spacing: 0.8px;
}

.newopinion-author {
  font-weight: 700;
  font-size: 15px;
  color: #535353;
}

.newopinion-time {
  font-weight: 600;
}

.newopinion-img {
  max-height: 64px;
  min-height: 64px;
}

.commentor-img {
  max-height: 56px;
  min-height: 56px;
}

.newopinion-img img {
  border-radius: 3px;
  width: 100%;
  min-width: 64px;
  display: block;
}

.tofollow-section,
.trending-section {
  padding: 0 6%;
}

.tofollow-section a {
  text-decoration: none;
}

.trending-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  flex-grow: 1;
}

.trend-icon {
  display: block;
  font-size: 1.5rem;
  color: #6c757d;
  transition: background .1s ease-in-out, color .1s ease-in-out;
  line-height: 1.4;
}

/* .trending-list li:first-child {
  margin-top: 30px;
} */

.trending-list li:not(:last-child) {
  margin-bottom: 18px;
}

.tofollow-title {
  border-bottom: 1px solid #dfdfdf
}

.tofollow-title p{
  text-transform:capitalize;
}

.footer {
  border-top: 1px solid #dfdfdf;

}
.footer-logo,
.footer-map >li > a {
  color: #787878;
}

.follow-licon,
.follow-picon {
  color: #ccc;
}

.follow-picon {
  left: auto;
}

.follow-licon {
  right: auto;
}

.feather-16 {
  width: 24px;
  height: 24px;
}

.feather-24{
  width: 24px;
  height: 24px;
}

.feather-32{
  width: 32px;
  height: 32px;
}

.profile-stats {
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}

.stats-box {
  flex: 1 !important;
}

.profile-fullname {
  color: #232323;
  font-weight: 700;
  letter-spacing: 1px;
}

.profile-username {
  color: #898989;
  font-weight: 400;
  line-height: 17px;
}

.stats-figure {
  font-weight: 700;
  font-size: 18px;
  color: #252525;
}

.stats-category {
  color: #777;
}

.tofollow-fullname,
.followedby-fullname {
  color: #3b3b3b;
  font-weight: 700;
}

.tofollow-username,
.followedby-username {
  color: #aaa;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.7px;
}

.menu-inactive,
.sbr-title {
  color: #777;
}

.sbl-userimg {
  width: 75px;
  height: 75px;
}

.sbl-userimg img {
  border-radius: 3px;
}

.sidebar-userinfo h5 {
  font-size: 14px;
  // color:rgba(233, 236, 239, 0.5);
  color: #dee3e7;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.sbl-statsfigure {
  font-weight: 700;
  font-size: 18px;
  color: #e9ecef;
}

.sbl-statstitle {
  color: #aab4bb;
}

.fs-18 {
  max-width: 18px;
  max-height: 18px;
}

.opinion-stat1::first-letter,
.opinion-stat2::first-letter {
  font-weight: 700;
}

.comment-bg {
  background-color:#e8f0fe;
  border-radius: 25px;
  padding: 8px 13px;
}

.commentor-details {
  font-size: 12px;
  color: #8d8787;
}

.reply-content {
  letter-spacing: 1.5px;
  color: #585656;
}

.txt-bold {
  font-weight: 700;
}

// .sb-followinfo h6 {
//   color:#e9ecef;
// }

@media (min-width:992px) {
  .main {
    /* box-shadow: inset .75rem 0 1.5rem 0 rgba(0, 0, 0, .075) */
  }
}
