@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600;700;800&display=swap');

body {
  margin: 0 !important;
  padding: 0 !important;
}

.main-nav {
  height: 64px;
  min-height: 64px;
  max-height: 64px;
  position: fixed;
  top: 0;
  background-image: linear-gradient(to top, #52a6e6, #49a7e6, #40a8e6, #34a8e6, #26a9e6, #26a9e7, #26aae7, #26aae8, #35aaea, #40abeb, #4babed, #54abee);
  width: 100%;
}

.logouttooltip-text {
  visibility: hidden;
  background: #3b7ddd;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: block;
  height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 0;
  right: -8px;
  text-align: center;
  transition: all 0.1s ease-out;
  font-size: 0.675rem;
  color: #fff;
}

.logout-link:hover .logouttooltip-text {
  visibility: visible;
  top: -4px;
}

.main {
  display: block;
  background-color: #f5f6f8;
}

.navbar-align {
  margin-left: auto;
  margin-right: 22%;
  color: rgba(233, 236, 239, 0.5);
}

.sb-followinfo {
  border-top: 1px solid #0c1930;
  border-bottom: 1px solid #0c1930;
}

.following-sbdiv {
  border-right: 1px solid #0c1930;
}

.coverimg-container {
  width: 100%;
  height: 240px;
  background-color: #122238;
  overflow: hidden;
}

.followed-by-img img,
.tofollow-img img,
.newopinion-img img,
.profile-img img,
.cover-img {
  width: 100%;
  height: 100%;
}

.twidder-menu,
.tofollow-head,
.followedby-head,
.trending-head,
.tofollow-section,
.followedby-section,
.profile-section,
.stats-section {
  border-bottom: 1px solid #dfdfdf;
}

.twidder-menu div {
  font-weight: 500;
}

.menu-highlight {
  border-bottom: 4px solid #00aae5;
}

.opinion-section,
.newopinion-section {
  min-width: 100%;
  background-color: #fff;
  padding: 2%;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px 0, rgba(0, 0, 0, 0.04) 0 1px 2px 0;
}

.opinion-container {
  padding: 2.8%;
}

.opinions-container {
  padding: 0 2.8% 2.8%;
}

.createopinion-title {
  color: #777;
}

.newopinion-title {
  color: #2eabf8;
}

.createopinion-title,
.newopinion-title {
  font-size: 15px;
  font-weight: 600;
}

.comment-form {
  border-color: rgba(2, 135, 253, 0.3);
}

.opinion-form {
  border: 1px solid #efefef;
}

.opinion-form,
.comment-form {
  min-width: 100%;
  border-radius: 3px;
  padding: 1.4%;
}

.opinion-form::placeholder,
.comment-form::placeholder {
  letter-spacing: 1.2px;
  color: #acacac;
}

.twid-msg {
  letter-spacing: 0.6px;
  color: #595959;
  background-color: rgba(40, 137, 233, 0.042);
  display: inline;
  border-radius: 3px;
  white-space: break-spaces;
  overflow-wrap: break-word;
  word-break: break-all;
}

.right-aside {
  border-left: 1px solid #dfdfdf;
}

.followed-by-img,
.tofollow-img,
.newopinion-img {
  width: 64px;
  height: 64px;
  border: 1px solid #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.followed-by-img,
.tofollow-img,
.profile-img,
.followed-by-img img,
.tofollow-img img,
.profile-img img,
.commentor-img img {
  border-radius: 50%;
}

.profile-img,
.profile-img img {
  width: 96px;
  height: 96px;
}

.tofollow-img,
.profile-img {
  background: #fff;
}

.newopinion-time,
.newopinion-author {
  letter-spacing: 0.8px;
}

.newopinion-author {
  font-weight: 700;
  font-size: 15px;
  color: #535353;
}

.commentor-name:link,
.follower-name:link,
.author-name:link,
.commentor-name:visited,
.follower-name:visited,
.author-name:visited {
  text-decoration: none;
  color: inherit;

  &:hover {
    opacity: 0.8;
  }
}

.newopinion-time {
  font-weight: 600;
}

.followed-by-img,
.followed-by-img img,
.tofollow-img,
.tofollow-img img,
.newopinion-img,
.newopinion-img img {
  width: 64px;
  height: 64px;
}

.img-link {
  transition: all 0.3s ease 0s;

  &:link {
    text-decoration: none;
  }

  &:hover {
    opacity: 0.85;
  }
}

.commentor-img,
.commentor-img img {
  width: 56px;
  height: 56px;
}

.newopinion-img img {
  border-radius: 3px;
  width: 100%;
  width: 64px;
  display: block;
}

.tofollow-section,
.trending-section,
.followedby-section {
  padding: 0 6%;
}

.tofollow-section a,
.followedby-section a {
  text-decoration: none;
}

.trending-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  flex-grow: 1;
}

.trend-icon {
  display: block;
  font-size: 1.5rem;
  color: #6c757d;
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
  line-height: 1.4;
}

.trending-list li:not(:last-child) {
  margin-bottom: 18px;
}

.tofollow-title {
  border-bottom: 1px solid #dfdfdf;
}

.tofollow-title p {
  text-transform: capitalize;
}

.footer {
  border-top: 1px solid #dfdfdf;
}

.footer-logo,
.footer-map > li > a {
  color: #787878;
}

.follow-licon,
.follow-picon {
  color: #ccc;
}

.follow-picon {
  left: auto;
}

.follow-licon {
  right: auto;
}

.feather-16 {
  width: 24px;
  height: 24px;
}

.feather-24 {
  width: 24px;
  height: 24px;
}

.feather-32 {
  width: 32px;
  height: 32px;
}

.profile-stats {
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}

.stats-box {
  flex: 1 !important;
}

.profile-fullname {
  color: #232323;
  font-weight: 700;
  letter-spacing: 1px;
}

.profile-username {
  color: #898989;
  font-weight: 400;
  line-height: 17px;
}

.userprofile-link a:link {
  text-decoration: none;
}

.stats-figure {
  font-weight: 700;
  font-size: 18px;
  color: #252525;
}

.stats-category {
  color: #777;
}

.tofollow-fullname,
.followedby-fullname {
  color: #3b3b3b;
  font-weight: 700;
}

.tofollow-username,
.followedby-username {
  color: #aaa;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.7px;
}

.menu-inactive,
.sbr-title {
  color: #777;

  &:hover {
    cursor: pointer;
    color: #888;
  }
}

.sbl-userimg {
  width: 75px;
  height: 75px;
  min-width: 75px;
  min-height: 75px;
}

.sbl-userimg img {
  border-radius: 3px;
}

.sidebar-userinfo h5 {
  font-size: 14px;
  color: #dee3e7;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.currentuser-name:link {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
  letter-spacing: 1.2px;

  &:hover {
    color: #d4d9dd;
  }
}

.sbl-statsfigure {
  font-weight: 700;
  font-size: 18px;
  color: #e9ecef;
}

.sbl-statstitle {
  color: #aab4bb;
}

.fs-18 {
  max-width: 18px;
  max-height: 18px;
}

.opinion-stat1::first-letter,
.opinion-stat2::first-letter {
  font-weight: 700;
}

.comment-bg {
  background-color: #e8f0fe;
  border-radius: 25px;
  padding: 8px 13px;
}

.commentor-details {
  font-size: 12px;
  color: #8d8787;
}

.replymodal-title {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1.2px;
}

.reply-content {
  letter-spacing: 1.5px;
  color: #585656;
}

.txt-bold {
  font-weight: 700;
}

.modal-footer h6 {
  color: #0287fd;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.3px;
}

.mfooter-conent {
  width: 100%;
}

.abbrv {
  font-weight: 600;
  text-shadow: none;
  letter-spacing: 1.5px;
}

.text-bold {
  font-weight: 700;
}

.sblnav-menu {
  display: block;
  text-decoration: none;
  color: rgba(233, 236, 239, 0.5);
  padding: 0.625rem 1.625rem;
  transition: background 0.1s ease-in-out;
  border-left: 3px solid transparent;

  &:hover {
    text-decoration: none;
    background: #222e3c;
    border-left-color: transparent;
  }
}

.activenav-link {
  color: #e9ecef;
  background: linear-gradient(90deg, rgba(59, 125, 221, 0.1), rgba(59, 125, 221, 0.0875) 50%, transparent);
  border-left-color: #3b7ddd;
}

.usrform-label {
  font-weight: 500;
  letter-spacing: 1.4px;
}

.usrform-input {
  height: 40px;
  border-color: rgba(2, 135, 253, 0.4);
}

.usrform-input::placeholder {
  opacity: 0.6;
  letter-spacing: 1.4px;
}

.user-imgup {
  opacity: 0.4;
  font-size: 12px;
  letter-spacing: 1.3px;
  padding: 2px;
}

.image-upload {
  cursor: pointer;
}

.signupbtn-section,
.loginbtn-section {
  border-top: 1px solid rgba(2, 135, 253, 0.6);
}

.modal-title,
.modal-note {
  letter-spacing: 0.8px;
}

.notice-alert {
  letter-spacing: 1.2px;
  animation: seconds 1s forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
}

@keyframes seconds {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.mainpage-content {
  display: flex;
  height: calc(100vh - 30px);
}

.mainpage-wrapper {
  min-height: 100vh;
}

.mainpage-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0287fd;
}

.mainpage-right {
  flex: 1;
  display: flex;
}

.mainpage-rcontent {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: #fff;
}

.mainpage-footer {
  height: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.mainfooter-logo {
  flex: 1;
}

.mainfooter-menu {
  display: flex;
  align-items: end;
  justify-content: end;
}

.twidder {
  font-family: 'Baloo Tammudu 2', cursive;
  font-weight: 800;
  letter-spacing: 0.4px;
  font-size: 40px;
}

.white-c {
  color: #fff;
}

.blue-c {
  color: #0287fd;
}

.disp-none {
  display: none;
}

.twidder-registered {
  font-size: 18px;
  font-weight: 600;
}

.mainpage-capturetext {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.mainpage-capturesub {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.mainpage-rgap {
  min-width: 10%;
}

.signupmain-btn {
  padding: 10px 120px;
}

.signupsubmit-btn,
.loginsubmit-btn {
  padding: 6px 98px;
}

.signupsubmit-btn,
.loginsubmit-btn,
.signupmain-btn {
  font-weight: 700;
  color: #fff;
  border: 2px solid #0287fd;
  background-color: #0287fd;
  border-radius: 40px;
  margin-bottom: 16px;
  transition: all 0.3s ease 0s;

  &:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    background: rgba(28, 117, 194, 1);
    border: 2px solid rgba(28, 117, 194, 1);
  }
}

.loginmain-btn {
  padding: 10px 126px;
}

.optlogin-btn {
  padding: 8px 102px;
}

.optsignup-btn {
  padding: 8px 96px;
}

.optlogin-btn,
.optsignup-btn,
.loginmain-btn {
  font-weight: 700;
  color: #0287fd;
  border: 1px solid #0287fd;
  background-color: #fff;
  border-radius: 40px;
  transition: all 0.3s ease 0s;

  &:hover {
    text-decoration: none;
    background: rgba(2, 135, 253, 0.2);
    border: 1px solid rgba(2, 135, 253, 1);
    color: #0287fd;
  }
}

@media screen and (max-width: 767px) {
  .midcontent-left {
    min-width: 100%;
  }

  .mainpage-rgap,
  .mainpage-left,
  .right-aside {
    display: none;
  }

  .mainpage-right {
    justify-content: center;
  }

  .smtwidder-logo {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .navbar-align {
    margin-right: 3% !important;
  }
}

@media screen and (max-width: 1141px) {
  .navbar-align {
    margin-right: 28%;
  }

  .twidder-menu > div:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 1201px) {
  .twidder-menu > div:nth-child(6) {
    display: none;
  }
}

@media screen and (max-width: 2561px) {
  .mainpage-rgap {
    min-width: 20%;
  }
}
